* {
  box-sizing: border-box;
}

.accordion ul li {
  display: inline-block;
  border: 1px solid black;
  margin: 0 10px 0 10px;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.accordion ul {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  background: lightblue;
  position: relative;
}

.accordion .content {
  border: 1px solid black;
  width: 80%;
  height: 200px;
  display: none;
}


.accordion .active {
  display: block;
}

.flexible-cards {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
}

.card {
  margin: 10px;
  height: 200px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.double {
  width: 64%;
}

.single {
  width: 32%;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
  border: 1px solid black;
}

.text {
  border-bottom: 1px solid black;
  background: gray;
}

.header {
  margin-top: 50px;
  background: #BDC3C7;
}

.header nav {
  border: 1px solid black;
}

.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.header nav li {
  display: inline-block;
}

.header .circle {
  border-radius: 50%;
  border: 1px solid black;
  height: 30px;
  width: 30px;
  background: white;
}

.header input {
  font-size: 1.3em;
}

